@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Estilização do Header */
header {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-height: 50px;
}

/* Menu de navegação */
nav {
  display: flex;
  gap: 15px; /* Espaçamento entre os botões */
  justify-content: flex-end; /* Alinha os botões à direita */
}

.link-menu {
  color: #fff;
  padding: 8px 20px; /* Ajuste de padding para ficar parecido com o design */
  border-radius: 30px; /* Borda mais arredondada */
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 500;
}

/* Cor de Fundo para cada link */
.inicio {
  background-color: #444; /* Fundo cinza para "Início" */
}

.f {
  background-color: #5b305a; /* Fundo para "Filme" */
}

.l {
  background-color: #e49756; /* Fundo para "Livro" */
}

.m {
  background-color: #e04b5a; /* Fundo para "Música" */
}

/* Hover nos links */
.link-menu:hover {
  opacity: 0.9;
  transition: 0.3s ease;
}

/* Estilo Principal */
main {
  background-color: #333;
  color: #ddd;
  padding: 40px 20px;
}

#principal, #filme, #livro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: #333;
  color: #ddd;
}

#principal img, #filme img, #livro img {
  width: 40%;
  margin-right: 40px;
}

#principal div, #filme div, #livro div {
  max-width: 600px;
}

h1, h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  text-transform: uppercase;
  color: #fff;
}

p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  font-size: 1.2em;
}

/* Estilo do rodapé */
footer {
  background-color: #333;
  color: #ddd;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #fff;
  margin: 0 10px;
}

footer a:hover {
  color: #e04b5a;
}